<h1><%= "Seznam vseh prijav" %></h1>


<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Številka prijave</th>
    <th>Ime</th>
    <th>Priimek</th>
    <th>EMŠO</th>
    <th>Stanje</th>
    <th>Datum oddaje</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @applications.each do |application| %>
      <tr>
        <td><%= application.application_number %></td>
        <td><%= application.user.firstname %></td>
        <td><%= application.user.lastname %></td>
        <td><%= application.EMSO %></td>
        <td><%= application.status %></td>
        <td><%= application.submission_date.to_date %></td>
        <% if application.status != 'Poslana' or policy(:admin).index? or policy(:admissions).index? %>
            <td>
              <%= link_to edit_application_form_path(application), class: 'label label-info' do %>
                  <i class="fa fa-pencil" title="<%= t 'defaults.edit' %>" aria-hidden="true"></i>
              <% end %>
            </td>
        <% else %>
            <td colspan="1"></td>
        <% end %>
        <% if application.status != 'Poslana' or policy(:admin).index? or policy(:admissions).index? %>
            <td>
              <%= link_to application_form_path(application), method: :delete, data: { confirm: 'Ali ste prepričani?' }, class: 'label label-danger' do %>
                  <i class="fa fa-trash" title="<%= "Odstrani" %>" aria-hidden="true"></i>
              <% end %>
            </td>
        <% else %>
            <td colspan="1"></td>
        <% end %>
        <% if application.status == 'Popolna' %>
            <td>
              <%= link_to send_application_form_path(application), class: 'label label-success' do %>
                  <i class="fa fa-paper-plane" title="<%= "Pošlji" %>" aria-hidden="true"></i>
              <% end %>
            </td>
        <% elsif application.status == 'Poslana' %>
            <td>
              <%= link_to export_application_form_path(application, :format=> :pdf), class: 'label label-success' do %>
                  <i class="fa fa-print" title="<%= "Natisni" %>" aria-hidden="true"></i>
              <% end %>
            </td>
        <% else %>
            <td colspan="1"></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
