<%= form_for(@element) do |f| %>
    <%= render 'layouts/errors', :resource => @element %>

  <div class="field form-group">
    <%= f.label :code %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-inline">
    <%= f.label :is_valid %><br>
    <%= f.check_box :is_valid, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
