<nav class="navbar-side" role="navigation">
  <ul>

    <li class="navbar-side-divider">
      <span><%= t '.system' %></span>
    </li>
    <li>
      <a href="<%= codes_path %>"><i class="fa fa-database"></i> <span><%= t '.codes' %></span></a>
    </li>
    <% if policy(:user).index? %>
        <li>
          <a href="<%= admin_users_path %>"><i class="fa fa-users"></i> <span><%= t '.uporabniki' %></span></a>
        </li>
    <% end %>
  </ul>
</nav>