<%= form_for @applicationChoice, url: url do |f| %>

    <%= render 'layouts/errors', :resource => @applicationChoice %>

    <h4><%= @choice_number%>. želja</h4>


        <div class="form-group has-feedback">
          <%= f.collection_select :study_program_mode_id, StudyProgramMode.all, :id, :study_program_choice, {:include_blank => ''}, {class: 'form-control', data: {placeholder: ''}} %>
        </div>




    <div class="actions">
      <%= f.submit getSaveOrNextMessage(@choice_number)%>
    </div>

<% end %>
