<%= form_for(@type_of_study) do |f| %>
  <% if @type_of_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type_of_study.errors.count, "error") %> prohibited this type_of_study from being saved:</h2>

      <ul>
      <% @type_of_study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :code %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group form-inline">
    <%= f.label :is_valid %><br>
    <%= f.check_box :is_valid, class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
