
<div class="row page-heading">
  <div class="col-lg-10">
    <h2><%= t '.faculties' %></h2>
  </div>
</div>

<%= render 'admin/users/menu' %>

<br/>

<div>

  <%= form_tag controller: 'admin/faculties', action: :create do %>

      <div class="form-group has-feedback">
        <%= label_tag :faculty_id, t('.add_faculty'), class: 'control-label' %>
        <%= select_tag :faculty_id, options_from_collection_for_select(@available_faculties, :id, :full_name),
                       include_blank: "--- #{t('.choose_faculty')} ---", class: 'form-control' %>

      </div>

      <%= submit_tag t('defaults.save'), class: 'btn btn-success' %>
  <% end %>
</div>

<br/>

<div class="table-responsive full">

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th><%= t 'activerecord.attributes.higher_education_institution.code' %></th>
      <th><%= t 'activerecord.attributes.higher_education_institution.acronym' %></th>
      <th><%= t 'activerecord.attributes.higher_education_institution.name' %></th>
      <th><%= t 'activerecord.models.university' %></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @faculties.each do |fac| %>
        <tr>
          <td><%= fac.code %></td>
          <td><%= fac.acronym %></td>
          <td><%= fac.name %></td>
          <td><%= fac.university.name %></td>
          <td class="text-right table-links">

              <%= link_to admin_user_faculty_path(@user, fac), method: :delete,
                          data: {confirm: t('defaults.are_you_sure')}, class: 'label label-danger' do %>
                  <i class="fa fa-trash" title="<%= t 'defaults.remove' %>" aria-hidden="true"></i>
              <% end %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<% if @faculties.length == 0 %>
    <div class="text-center">

      <p><%= t '.no_faculties' %></p>
    </div>
<% end %>

<div class="text-center">
  <%= paginate @faculties %>
</div>