<div class="table-responsive full">
  <table class="table table-striped table-hover table-study table-study-pdf">
    <thead>
    <tr>
      <th>Ime</th>
      <th>Priimek</th>
      <th>EMŠO</th>
      <th>Visokošolski zavod</th>
      <th>Študijski program</th>
      <th>Vrsta študija</th>
      <th>Način študija</th>
    </tr>
    </thead>

    <tbody>
    <% @candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.application.user.firstname %></td>
          <td><%= candidate.application.user.lastname %></td>
          <td><%= candidate.application.EMSO %></td>
          <td><%= candidate.study_program_mode.study_program.higher_education_institution.name %></td>
          <td><%= candidate.study_program_mode.study_program.name %></td>
          <td><%= candidate.study_program_mode.mode_of_study.name %></td>
          <td><%= candidate.study_program_mode.study_program.type_of_study.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>