<div class="table-responsive full">
  <table class="table table-striped table-hover table-study table-study-pdf">
    <thead>
    <tr>
      <th>Ime</th>
      <th>Priimek</th>
      <th>EMŠO</th>
      <th>Visokošolski zavod</th>
      <th>Študijski program</th>
      <th>Način študija</th>
    </tr>
    </thead>

    <tbody>
    <% @candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.user.firstname %></td>
          <td><%= candidate.user.lastname %></td>
          <td><%= candidate.EMSO %></td>
          <% @choices = @application_choices.where(application_id: candidate.id) %>
          <td><% @choices.each_with_index do |choice, index| %>
                <%= index + 1 %>. želja:
                <%= choice.study_program_mode.study_program.higher_education_institution.name %>
                <br>
            <% end %>
          </td>
          <td><% @choices.each do |choice| %>
                <%= choice.study_program_mode.study_program.name %>
                <br>
            <% end %>
          </td>
          <td><% @choices.each do |choice| %>
                <%= choice.study_program_mode.study_program.type_of_study.name %>
                <br>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>