<%= form_for @result, url: url do |f| %>

    <%= render 'layouts/errors', :resource => @result %>

    <div class="form-group has-feedback">
      <%= f.label :highschool_completion_id, class: 'control-label' %>
      <%= f.collection_select :highschool_completion_id, HighschoolCompletion.order(:name).all, :id, :name,
                              {:include_blank => false},
                              { class: 'form-control', disabled: 'disabled' }  %>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :user_id, class: 'control-label' %>
      <%= f.collection_select :user_id, User.order(:lastname).all, :id, :full_name, {},
                              { class: 'form-control' }  %>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :passed, class: 'control-label' %>
      <%= f.check_box :passed, class: 'form-control' %>
    </div>

    <%= f.submit t('defaults.save'), class: 'btn btn-success' %>

    <%= link_to t('defaults.cancel'), completion_result_completion_result_scores_path(@completion), class: 'btn btn-warning' %>

<% end %>