<%= form_for(@municipality) do |f| %>
    <%= render 'layouts/errors', :resource => @municipality %>

  <div class="field form-group">
    <%= f.label :code %><br>
    <%= f.number_field(:code, in: 0..999, step: 1, class: 'form-control')%>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group form-inline">
    <%= f.label :is_valid %><br>
    <%= f.check_box :is_valid, class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
