<%= form_for(@higher_education_institution) do |f| %>
    <%= render 'layouts/errors', :resource => @higher_education_institution %>

  <div class="field form-group">
    <%= f.label "Šifra" %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label "Naziv" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label "Akronim" %><br>
    <%= f.text_field :acronym, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label "Univerza" %>
    <%= f.collection_select :university_id, University.all, :id, :name, {:include_blank => false}, { :class => 'form-control' }  %>
  </div>
  <div class="field form-group">
    <%= f.label "Občina" %>
    <%= f.collection_select :municipality_id, Municipality.all, :id, :name, {:include_blank => false}, { :class => 'form-control' }  %>
  </div>
  <div class="field form-group form-inline">
    <%= f.label "Veljavnost" %><br>
    <%= f.check_box :is_valid, class: 'form-control'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
