<%= form_for(@country) do |f| %>
  <%= render 'layouts/errors', :resource => @country %>

  <div class="field form-group">
    <%= f.label :code %><br>
    <%= f.number_field(:code, in: 0..999, step: 1, class: 'form-control') %>
  </div>
  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :eu_member %><br>
    <%= f.select(:eu_member, [['Da', true], ['Ne', false]], {include_blank: "Izberi"}, {:class => 'form-control'})%>
  </div>
  <div class="field form-group form-inline">
    <%= f.label :is_valid %><br>
    <%= f.check_box :is_valid, class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
