<%= form_for(@study_program) do |f| %>

    <%= render 'layouts/errors', :resource => @study_program %>

    <div class="form-group">
      <%= f.label "Ime študijskega programa", class: 'control-label' %>
      <%= f.text_field :name, placeholder: true, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Koda", class: 'control-label' %>
      <%= f.text_field :code, placeholder: true, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "Način študija", class: 'control-label' %>
      <%= f.collection_select :type_of_study_id, TypeOfStudy.all, :id, :name, {:include_blank => false}, { :class => 'form-control' }  %>
    </div>

    <div class="form-group">
      <%= f.label "Fakulteta", class: 'control-label' %>
      <%= f.collection_select :higher_education_institution_id, HigherEducationInstitution.all, :id, :name, {:include_blank => false}, { :class => 'form-control' }  %>
    </div>

    <div class="form-group">
      <%= f.label "Razpis", class: 'control-label' %>
      <%= f.collection_select :enrollment_id, Enrollment.all, :id, :name, {:include_blank => false}, { :class => 'form-control' }  %>
    </div>

    <%= f.submit t('defaults.save'), class: 'btn btn-success' %>
    <%= link_to t('defaults.cancel'), :back , class: 'btn btn-warning' %>
<% end %>
