<div class="ibox">
  <div class="ibox-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="m-b-md table-links">
          <h2><%= @study_program.name %></h2>
        </div>
        <dl class="dl-horizontal">
          <dt><%= t 'activerecord.attributes.study_program.code' %>:</dt>
          <dd><%= @study_program.code %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <dl class="dl-horizontal">

          <dt><%= t 'activerecord.models.university' %>:</dt>
          <dd><%= @study_program.higher_education_institution.name %></dd>

          <dt><%= t '.university_short' %>:</dt>
          <dd><%= @study_program.higher_education_institution.acronym %></dd>

          <dt><%= t 'activerecord.models.type_of_study' %>:</dt>
          <dd><%= @study_program.type_of_study.name %></dd>
        </dl>
      </div>
      <div class="col-lg-7">
        <dl class="dl-horizontal">

          <dt><%= t 'activerecord.models.enrollment' %>:</dt>
          <dd><%= @study_program.enrollment.name %></dd>

          <dt><%= t 'activerecord.attributes.study_program.updated_at' %>:</dt>
          <dd><%= l @study_program.updated_at, format: :short %></dd>

          <dt><%= t 'activerecord.attributes.study_program.created_at' %>:</dt>
          <dd><%= l @study_program.created_at, format: :short %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive full">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Način študija</th>
      <th>EU</th>
      <th>Tujci</th>
      <th>EU sklep</th>
      <th>Tujci sklep</th>
      <th>EU sprejeti</th>
      <th>Tujci sprejeti</th>
    </tr>
    </thead>

    <tbody>
    <% @study_program_modes.each do |study_program_mode| %>
        <tr>
          <td><%= study_program_mode.mode_of_study.name %></td>
          <td><%= study_program_mode.number_of_places %></td>
          <td><%= study_program_mode.number_of_places_foreign %></td>
          <td><%= study_program_mode.number_of_places_after_selection || '/' %></td>
          <td><%= study_program_mode.number_of_places_after_selection_foreign || '/' %></td>
          <td><%= study_program_mode.selected || '/' %></td>
          <td><%= study_program_mode.selected_foreign || '/' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if @requirements.length == 0 %>
    <div class="text-center">
      <p><%= "Program nima določenih pogojev" %></p>
    </div>
<% else %>
    <div class="table-responsive full">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th><%= "Pogoj" %></th>
          <th><%= "Poklic" %></th>
          <th><%= "Predmeti" %></th>
          <th><%= "Elementi za izračun točk" %></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @requirements.each do |req| %>
            <tr>
              <td><%= req.highschool_completion.name %></td>
              <td>
                <% if req.profession.nil? %>
                    /
                <% else %>
                    <%= req.profession.name %>
                <% end %>
              </td>
              <td>
                <table>
                  <% if req.requirement_elements.length == 0 %>
                      <tr>
                        <td>Predmeti niso določeni</td>
                      </tr>
                  <% else %>
                      <% req.requirement_elements.each do |el| %>
                          <tr>
                            <td><%= el.element.short %></td>
                          </tr>
                      <% end %>
                  <% end %>
                </table>
              </td>
              <td>
                <table>
                  <% if req.study_program_elements.length == 0 %>
                      <tr>
                        <td>Elementi niso določeni</td>
                      </tr>
                  <% else %>
                      <% req.study_program_elements.each do |el| %>
                          <tr>
                            <td><%= el.element.name %></td>
                            <td> - <%= el.percentage %> %</td>
                          </tr>
                      <% end %>
                  <% end %>
                </table>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>
