<%= form_for user do |f| %>

    <%= render 'layouts/errors', :resource => @user %>

    <div class="form-group has-feedback">
      <%= f.label :username, class: 'control-label' %>
      <%= f.text_field :username, placeholder: true, autofocus: true, class: 'form-control' %>

      <div class="form-control-feedback">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :email, class: 'control-label' %>
      <%= f.email_field :email, placeholder: true, class: 'form-control' %>

      <div class="form-control-feedback">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :firstname, class: 'control-label' %>
      <%= f.text_field :firstname, placeholder: true, class: 'form-control' %>

      <div class="form-control-feedback">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>

    <div class="form-group has-feedback">
      <%= f.label :lastname, class: 'control-label' %>
      <%= f.text_field :lastname, placeholder: true, class: 'form-control' %>

      <div class="form-control-feedback">
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>

    <% if policy(@user).change_role? %>
        <div class="form-group has-feedback">
          <%= f.label :role_ids, class: 'control-label' %>

          <%= f.collection_select :role_ids, @roles, :id, :t_name, {},
                                  {multiple: true, class: 'form-control', data:
                                      {placeholder: t('activerecord.attributes.user.role_ids')}} %>
        </div>

    <% end %>

    <% if policy(@user).change_pass? %>
        <div class="form-group has-feedback">
          <%= f.label :password, class: 'control-label' %><i>
          <small>(<%= t '.leave_blank_pass' %>)</small>
        </i>
          <%= f.password_field :password, placeholder: true, autocomplete: "off", class: 'form-control' %>

          <div class="form-control-feedback">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
        </div>

        <div class="form-group has-feedback">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <%= f.password_field :password_confirmation, placeholder: true, autocomplete: "off", class: 'form-control' %>

          <div class="form-control-feedback">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </div>
        </div>
    <% end %>


    <%= f.submit t('defaults.save'), class: 'btn btn-success' %>

    <%= link_to t('defaults.cancel'), cancel, class: 'btn btn-warning' %>

<% end %>

<br/>

<% if policy(@user).cancel? %>
    <%= button_to t('.cancel_account'), registration_path(:user),
                  data: {confirm: t('defaults.are_you_sure')}, class: 'btn btn-danger', method: :delete %>
<% end %>